:root {
    --color-btn: #254D70;
    --main-color: #954C2E;
    --sec-color: #EFE4D2;
    --two-color: linear-gradient(to top, #1a72f7, #ff5a5a);
    ;
}

.mn_color {
    color: var(--color-btn);
}

.mn_w{
    min-width: 320px;
    
}
.l{
    width: 100%;
    height: 2px;
    background-color: hsl(0, 0%, 0%,0.4);
}
.c {
    box-shadow: 0 10px 30px hsl(0, 0%, 0%, 0.2);
    margin-bottom: 30px;
}

.cc {
    box-shadow: 0 -10px 30px hsl(0, 0%, 0%, 0.2);
}

.btn {
    background-color: var(--color-btn) !important;
    border: none !important;
}
.btn:hover{
    background-color: #346ea1 !important ;
    transform: scale(1.03);
}
@media (max-width: 800px) {
    form .btn {
        margin-right: 10px;
    }
    .t{
        display: inline;
        padding: 5px;
    }
    .tt{
        margin: 10px 0;
    }
    .inp{
        background-color: #ffff !important;
    }
    .collapse {
        top: 80px;
        left: 0;
        margin: 0;
        position: absolute;
        /* overflow: hidden; */
        width: 100%;
        background-color:rgb(247, 247, 247,0.6);
        z-index: 1000000;
        padding: 10px;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: hsla(0, 0%, 100%, 0.3);
    max-height: 80px;
    z-index: 1000000;
}
.mnu{
    font-size: x-large;
}

.mnu {
    transition: transform 0.9s ease;
}

.mnu:hover{
    transform: rotate(90deg);
}

.img1 {
    height: 60px;
    width: 70px;
}

.inp {
    border-radius: 8px;
    margin-bottom: 10px;
    z-index: 10000000;
    background-color: var(--two-color);
}

.btn {
    border-radius: 8px;
}

.div-drop {
    opacity: 0.8;
    margin-top: 17px;
    border-radius: 10px;
}

.dropdown-item {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    /* margin: 5px; */
}

.trips-link {
    border: 2px solid var(--color-btn);
    border-radius: 8px;
}

.trips-link:hover {
    transform: scale(1.06);
}

.trips-link:hover span {
    font-weight: bold;
    color: #ff0000;
}

.dropdown-item {
    color: #d0ba15;
}

.carousel,
.carousel-inner,
.carousel-item,
.carousel-item img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.carousel-item {
    position: relative;
    z-index: 0;
}


.modal {
    z-index: 2000000;
}
.modal input {
    color: #254D70 !important;
}
.modal-header{
    background-color: var(--color-btn) !important;
    color: #ffff !important;
}

.modal label{
    color: var(--color-btn);
}

.form-control {
    border: 1px solid var(--color-btn);
}

.form-group1 {
    margin-top: 20px;
}

.icons {
    position: fixed;
    font-size: 44px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 10px 0 0 10px;
    z-index: 9999;
}
.icons i:hover{
        color: #346ea1 !important ;
    transform: scale(1.2);
}

i {
    color: var(--color-btn);
}

@media (max-width: 768px) {
    .icons {
        top: auto;
        align-items: center;
        bottom: 10px;
        right: 2px;
        flex-direction: row;
    }

    .icons .nav {
        flex-direction: row;
    }

    .icons .nav-item {
        margin-right: 10px;
    }
}

.c {
    padding-top: 20px;
    background-color: var(--sec-color);
    margin-bottom: 20px;
}

.w_color {
    font-weight: bold;

    background: var(--two-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

.bg_c {
    background-color: var(--main-color);
    color: #ffff;
    font-size: xx-large;
    min-height: 80px;
    font-weight: bold;
}

.cc, .c {
    margin-bottom: 20px;
    margin-top: 20px;
    min-width: 300px;
}

.card_link {
    background: linear-gradient(to top, #1a72f7, #ff5a5a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

.card-shadow-bottom {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
}

.card_c {
    background-color: var(--main-color);
    color: #ffff;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 30px;
}
#accordion .card{
    min-width: 300px;
    font-size: large;
}
.bg_color {
    background-color: var(--sec-color);
    padding-bottom: 25px;
}

.bg_color h4 span {
    font-weight: bold;
    font-size: xx-large;
    background: linear-gradient(to top, #1a72f7, #ff5a5a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.bg_color button {
    color: #ffff;
}
.sh{
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.7) !important;
}

textarea {
    margin-top: 10px;
    height: 70px !important;
}

.img {
    background-image: url(img/pyramids-2371501_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 40vh;
    width: 100%;
    background-position: center;
    margin: 40px 0;
}

.card_cc {
    background-color: var(--main-color);
    color: #ffff !important;
}

.card_body {
    font-size: xx-large;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.cards {
    margin: auto;
}

.m_a .card {
    margin: auto;
    /* width: 350px; */
    max-width: 350px;
    min-width: 300px;
    height: 530px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px 1px rgba(90, 159, 219, 0.5);
    position: relative;
}

.m_a img {
    height: 400px;
    padding: 0 10px;
    border-radius: 15px;
}

.m_a .btn {
    right: 10px;
    position: absolute;
}

.m_a .card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: var(--sec-color);
    opacity: 0.3;
    border-radius: 10px;
    transition: 0.7s;
}

@media (max-width: 810px) {
    .m_a .card {
        min-width: 300px;
        
    }
}

.m_a .card::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: var(--sec-color);
    opacity: 0.3;
    border-radius: 10px;
    transition: 1s;
}

.m_a .card:hover::after {
    width: 100%;
    height: 100%;
}

.m_a .card:hover::before {
    width: 100%;
    height: 100%;
}

.m_a h4 {
    font-weight: bold;
}

.m_a .card .btn {
    position: absolute;
    z-index: 6000;
}

.img2 {
    background-image: url(img/موقع-شاطئ-كليوباترا.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 40vh;
    width: 100%;
    background-position: center;
    margin-top: 40px;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
.person {
    margin: auto;
    position: relative;

}

.person .card {
    margin: auto;
    height: 460px;
    max-width: 350px;
    margin-bottom: 90px;
    margin-top: 40px;
    border-radius: 20px;
    transition: 0.9s;
    position: relative;
}

.person .card img {
    border-radius: 20px;
    height: 460px;
}

.person .card:hover {
    transform: scale(0.9);
    box-shadow: 0px 8px 20px rgba(90, 159, 219, 0.5);
}

.person .card:hover .bg {
    background-color: var(--sec-color);
    opacity: 0.6;
}

.bg {
    background-color: var(--sec-color);
    opacity: 0.3;
    z-index: 1000;
    position: absolute;
    height: 460px;
    border-radius: 20px;
    transition: 0.9s;
    max-width: 350px;
}

.person .card .p {
    z-index: 30000;
    position: relative;
}

@media (max-width: 700px) {
    .person .card {
        min-width: 300px;
    }

}

.person .card .img-c {
    position: absolute;
    z-index: 4000;
    height: 250px;
    bottom: 0;
}

.person .card .rounded-circle {
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.4);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.media {
    overflow: hidden;
    border-radius: 24px;
    box-shadow: -1px 15px 30px rgba(90, 159, 219, 0.6);
    margin-bottom: 60px;
    max-height: 500px;

}

.media .media-body {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 40px;
    max-height: 200px;
    min-width: 300px;
}

.media .media-body .line {
    height: 5px;
    width: 70px;
    
    border-radius: 9px;
    background-color: var(--color-btn);
    transition: 0.6s;
}

.media:hover .line {
    width: 100px;
}

.cd .h {
    margin-top: 150px;
}

.media-img-r {
    overflow: hidden;
    clip-path: polygon(0 0,
            100% 0%,
            100% 100%,
            10% 100%);
}

.media-img-l {
    overflow: hidden;
    clip-path: polygon(0 0,
            100% 0%,
            90% 100%,
            0 100%);
}

.media_r img {
    clip-path: polygon(0 0,
            100% 0%,
            100% 100%,
            10% 100%);
    transition: 0.8s;
    min-height: 300px;
}

.media_l img {
    clip-path: polygon(0 0,
            100% 0%,
            90% 100%,
            0 100%);
    transition: 0.8s;
    min-height: 300px;
}
.media:hover img {
    transform: scale(1.06);
}

@media (max-width: 810px) {
    .media {
        display: flex;
        flex-direction: column !important;
        text-align: center;
        overflow-y: auto;
        max-height: 100vh;
        min-width: 300px;
    }

    .media-img-l,
    .media-img-r {
        order: -1;
        width: 100% !important;
        clip-path: none !important;
        height: 230px;
    }
    .media .line{
        margin: auto;
        margin-bottom: 10px;
    }
    .media_l img,
    .media_r img {
        width: 100% !important;
        height: auto !important;
        clip-path: none !important;
        object-fit: cover;
        height: 600px;
    }

    .media-body {
        padding: 15px;
        height: auto;
        overflow-y: auto;
        max-width: 290px; 
    }
}

@media (max-width:500px) {
    .media-body {
        margin:auto !important;
    }
    .media .line {
        margin: auto;
    }
}


.media .btn-group button i {
    color: #F7F7F7;
}

.media .btn-group button:hover i {
    color: var(--color-btn);
}

.media .btn-group button:hover {
    background-color: #F7F7F7 !important;
    color: var(--color-btn) !important;
    box-shadow: 0 3px 10px rgba(90, 159, 219, 0.6) !important;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.s_media img {
    width: 50%;
    height: 40%;
    transition: 0.8s;
}

.s_media h1 {
    background: linear-gradient(to top, #1a72f7, #ff5a5a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.s_media .row .d {
    margin: auto;
    text-align: center;
    height: 260px;
    width: 250px;
    background-color: #F7F7F7;
    border-radius: 30px;
    box-shadow: 0 10px 30px hsla(208, 64%, 61%, 0.6);
}

.s_media .d .pp {
    font-size: large;
    color: var(--color-btn);
    font-weight: bolder;
}

.s_media .d .link {
    text-decoration: none;
    color: var(--color-btn);
    transition: 0.6s;
}

.s_media .d .link:hover {
    text-shadow:
    1px 1px 0 #ccc,
    2px 2px 0 #bbb,
    3px 3px 0 #aaa;
    transform: scale(1.2);
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.footer .row .d{
    margin: auto;
}
.footer img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    margin: 10px 0;    
}
.footer{
    background-color: var(--main-color);
    color: #ffff;
}
.footer .d{
    border-top: 1px solid #ffff;
    border-bottom: 1px solid #ffff ;
}
.footer .row_md{
    border-bottom: 1px solid #ffff ;
}
.footer a{
    text-decoration: none;
    color: #ffff;
}
.footer .last{
    border-bottom: 1px solid #ffff ;
    font-size: x-large;
    font-weight: bold;
    color: var(--color-btn);
}

.footer a:hover{
    text-decoration: underline;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
}
